
Debug/
Release/
*.elf
*.bin
*.map
*.hex


.settings/
*.launch
.project
.cproject


Core/Src/sysmem.c
Core/Src/syscalls.c
Core/Src/system_stm32f1xx.c
Core/Src/stm32f1xx_hal_msp.c
Core/Inc/stm32f1xx_hal_conf.h
Core/Inc/stm32f1xx_it.h
